.aside {
  width: 200px;
  background: var(--card-background);
  box-shadow: var(--card-shadow);
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  position: sticky;
  top: 80px;
  left: 0;
  transition: opacity 0.15s ease, visibility 0.15s ease;

  &.visible {
    z-index: 2;
    display: flex;
  }

  .filters-heading {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    border-bottom: 1px solid var(--color-bg-primary);
    padding-bottom: 10px;
  }

  .filters-heading .all-filters-reset-button {
    background: transparent;
    border: 0;
    padding: 0;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filter-section-header {
    display: flex;
    gap: 10px;
  }

  .filter-section-header .filter-reset-button {
    background: transparent;
    border: 0;
    padding: 0;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .type-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .type-filters button {
    text-align: start;
    padding: 3px 5px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #fff; 
    text-shadow: 1px 1px 2px #18181857;
    transition: transform 0.1s ease;


    &.normal { background: #A8A77A; }
    &.fire { background: #EE8130; }
    &.water { background: #6390F0; }
    &.electric { background: #F7D02C; text-shadow: 1px 1px 1px #18181877; }
    &.grass { background: #7AC74C; }
    &.ice { background: #96D9D6; }
    &.fighting { background: #C22E28; }
    &.poison { background: #A33EA1; }
    &.ground { background: #E2BF65; text-shadow: 1px 1px 1px #18181877; }
    &.flying { background: #A98FF3; }
    &.psychic { background: #F95587; }
    &.bug { background: #A6B91A; }
    &.rock { background: #B6A136; }
    &.ghost { background: #735797; }
    &.dragon { background: #6F35FC; }
    &.dark { background: #705746; }
    &.steel { background: #B7B7CE; text-shadow: 1px 1px 1px #18181877; }
    &.fairy { background: #D685AD; }

    &.selected {
      text-decoration: underline;
    }

    &:hover {
      transform: translateY(1px);
    }
  }

  .generation-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .input-and-max-button {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .generation-filters button,
  .input-and-max-button button {
    border: 0;
    border-radius: 3px;
    padding: 3px 5px;
    background: var(--filter-button-background);
    color: var(--color-text-primary);
    cursor: pointer;
    border: 1px solid transparent;
    transition: transform 0.1s ease, border 0.15s ease, filter 0.15s ease;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.255));

    &:hover {
      transform: translateY(1px);
      filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    }

    &.selected{
      border: var(--button-border);
    }
  }


  // -------------------
  // Range stuff
  // -------------------
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 15px;
    border-radius: 3px;
    background: var(--yellow);
    cursor: pointer;
    margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 15px;
    border-radius: 3px;
    background: var(--yellow);
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--slider-track-bg);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--slider-track-bg);

  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--slider-track-bg);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  // -------------------
  // Range stuff end
  // -------------------
  

  .range-results {
    display: flex;
    gap: 5px;

    span {
      font-size: 0.9rem;
    }
  }

  .range-results p {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 885px) {
    left: unset;
    position: fixed;
    right: 20px;
    top: 50px;
    gap: 0;
    overflow-y: scroll;
    height: auto;
    display: none;

    .filter-section {
      gap: 5px;
      padding: 10px 0;
      border-bottom: 1px solid var(--color-bg-primary);

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }


}