.aside {
  width: 200px;
  background: var(--card-background);
  box-shadow: var(--card-shadow);
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  position: sticky;
  top: 80px;
  left: 0;
  transition: opacity 0.15s ease, visibility 0.15s ease;

  &.visible {
    z-index: 2;
    display: flex;
  }

  .filters-heading {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    border-bottom: 1px solid var(--color-bg-primary);
    padding-bottom: 10px;
  }

  .filters-heading .all-filters-reset-button {
    background: transparent;
    border: 0;
    padding: 0;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filter-section-header {
    display: flex;
    gap: 10px;
  }

  .filter-section-header .filter-reset-button {
    background: transparent;
    border: 0;
    padding: 0;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .type-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .type-filters button {
    text-align: start;
    padding: 3px 5px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #fff; 
    text-shadow: 1px 1px 2px #18181857;


    &.normal { background: #A8A77A; }
    &.fire { background: #EE8130; }
    &.water { background: #6390F0; }
    &.electric { background: #F7D02C; text-shadow: 1px 1px 1px #18181877; }
    &.grass { background: #7AC74C; }
    &.ice { background: #96D9D6; }
    &.fighting { background: #C22E28; }
    &.poison { background: #A33EA1; }
    &.ground { background: #E2BF65; text-shadow: 1px 1px 1px #18181877; }
    &.flying { background: #A98FF3; }
    &.psychic { background: #F95587; }
    &.bug { background: #A6B91A; }
    &.rock { background: #B6A136; }
    &.ghost { background: #735797; }
    &.dragon { background: #6F35FC; }
    &.dark { background: #705746; }
    &.steel { background: #B7B7CE; text-shadow: 1px 1px 1px #18181877; }
    &.fairy { background: #D685AD; }

    &.selected {
      text-decoration: underline;
    }
  }

  .generation-filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .input-and-max-button {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .generation-filters button,
  .input-and-max-button button {
    border: 0;
    border-radius: 3px;
    padding: 3px 5px;
    background: var(--filter-button-background);
    color: var(--color-text-primary);
    cursor: pointer;
    transition: border .15s ease;
    border: 1px solid transparent;

    &.selected{
      border: var(--button-border);
    }
  }

  .range-results {
    display: flex;
    gap: 5px;

    span {
      font-size: 0.9rem;
    }
  }

  .range-results p {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 885px) {
    left: unset;
    position: fixed;
    right: 20px;
    top: 50px;
    gap: 0;
    overflow-y: scroll;
    height: auto;
    display: none;

    .filter-section {
      gap: 5px;
      padding: 10px 0;
      border-bottom: 1px solid var(--color-bg-primary);

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }


}