.nav {
  background: var(--card-background);
  width: 100%;
  padding: 20px 30px;
  // height: 50px;
  position: fixed;
  box-shadow: var(--heavy-shadow);
  z-index: 3;

  .main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      max-height: 40px;
    }
  }
}