.pokemon-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background: var(--card-background);
  border-radius: 5px;
  padding: 15px 30px;
  transition: box-shadow, transform 0.1s ease;
  box-shadow: var(--card-shadow);
  cursor: pointer;

  &.loading {
    background: green;
  }

  &:hover {
    box-shadow: none;
    transform: translateY(2px);
  }


  .pokemon-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;

    .name-and-id {
      display: flex;
      align-items: center;
      gap: 10px;

      .pokemon-name {
        font-size: 1.35rem;
        font-weight: 600;
        margin: 0;
      }

      .pokemon-id {
        border-radius: 3px;
        // background: darkorange;
        // padding: 3px 5px;
        // align-self: flex-start;
        color: var(--color-text-primary);
        // text-shadow: 2px 2px 2px #1818183c;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }


    .placeholder {
      background: green;
      border-radius: 3px;
    }

    .placeholder.name {
      width: 120px;
      height: 25px;
    }

    .placeholder-types-parent {
      display: flex;
      height: 25px;
    }

    .placeholder.types {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }


    .pokemon-types {
      display: flex;
      gap: 10px;
      .pokemon-type {
        padding: 3px 5px;
        border-radius: 3px;
        margin: 0;

        &.normal { background: #A8A77A; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.fire { background: #EE8130; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.water { background: #6390F0; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.electric { background: #F7D02C; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.grass { background: #7AC74C; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.ice { background: #96D9D6; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.fighting { background: #C22E28; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.poison { background: #A33EA1; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.ground { background: #E2BF65; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.flying { background: #A98FF3; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.psychic { background: #F95587; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.bug { background: #A6B91A; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.rock { background: #B6A136; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.ghost { background: #735797; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.dragon { background: #6F35FC; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.dark { background: #705746; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.steel { background: #B7B7CE; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.fairy { background: #D685AD; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
      }
    }
  }

  @keyframes imageLoading {
    from {
      filter: brightness(1)
    }
    to {
      filter: brightness(1.5)
    }
  }

  .image-placeholder {
    height: 100px;
    width: 100px;
    animation: imageLoading 0.3s infinite alternate;
  }

  

  .pokemon-image {
    width: 100%;
    height: 100px;
    max-width: 100px;
    filter: contrast(1.25) saturate(1.1);
  }

  .pokemon-image-loading {
    height: 100px;
    width: 100px;
    max-width: 100px;
    background: green;
  }

  // .visible {
  //   visibility: visible;
  //   opacity: 1;
  // }

  .unknown-pokemon-image-placeholder {
    font-size: 2rem;
    font-weight: 600;
    width:100%;
    max-width: 100px;
    text-align: center;
  }

  @media screen and (max-width: 885px) {
    padding: 10px 25px;
  }
}