.pokemon-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 120px;
  padding-bottom: 50px;

  .previous-and-next-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
  }

  .previous-button, .next-button {
    background: var(--card-background);
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: var(--card-shadow);
  }
}