.pokemon-list {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  gap: 20px;
  padding-top: 85px;
  padding-bottom: 50px;
  max-width: 424px;
  width: 100%;


  .previous-and-next-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
  }

  .previous-button, .next-button {
    background: var(--card-background);
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: var(--card-shadow);
    color: var(--color-text);
    appearance: none;
    border: 0;
    cursor: pointer;
    transition: box-shadow, transform 0.1s ease;
    box-shadow: var(--card-shadow);

    &:hover {
      box-shadow: none;
      transform: translateY(2px);
    }
  }
}