.pokemon-list {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 50px;
  max-width: 500px;
  min-width: 424px;
  width: 100%;
  align-self: center;


  .previous-and-next-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
  }

  .previous-button, .next-button {
    background: var(--card-background);
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: var(--card-shadow);
    color: var(--color-text);
    appearance: none;
    border: 0;
    cursor: pointer;
    transition: box-shadow, transform 0.1s ease;
    box-shadow: var(--card-shadow);

    &:hover {
      box-shadow: none;
      transform: translateY(2px);
    }
  }

  @media screen and (max-width: 900px) {
    &.pokemon-list {
      align-self: flex-end;
      // margin-right: 20px;
    }
  }

  @media screen and (max-width: 700px) {
    &.pokemon-list {
      padding-top: 150px;
      align-self: center;
      max-width: none;
      margin-right: 0;
    }
  }
}