.sort-and-limit {
  // position: fixed;
  // top: 105px;
  // left: 20px;
  width: 200px;
  min-width: 200px;
  background: var(--card-background);
  box-shadow: var(--card-shadow);
  height: auto;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  // z-index: 2;
  position: sticky;
  align-self: flex-start;
  top: 80px;
  left: 0;
  // margin-left: 20px;
  transition: opacity 0.15s ease, visibility 0.15s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  .sort-and-limit-section {
    display: flex;
    flex-direction: column;
    gap: 10px;


    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    .limit-buttons {
      grid-template-columns: repeat(3, 1fr);

    }
  
    button {
      border: 0;
      border-radius: 3px;
      padding: 3px 5px;
      background: var(--filter-button-background);
      color: var(--color-text-primary);
      cursor: pointer;
      border: 1px solid transparent;
      transition: border .15s ease;
      white-space: nowrap;

      &.selected{
        border: var(--button-border);
      }
    }
  
    .limit-all-button {
      grid-column: 1/4;
    }
  }

  @media screen and (max-width: 885px) {
    position: fixed;
    left: unset;
    right: 20px;
    top: 50px;
    visibility: 0;
    opacity: 0;
    z-index: 0;
  }
}