.sort-and-limit {
  width: 200px;
  min-width: 200px;
  background: var(--card-background);
  box-shadow: var(--card-shadow);
  height: auto;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  align-self: flex-start;
  top: 80px;
  left: 0;
  transition: opacity 0.15s ease, visibility 0.15s ease;

  &.visible {
    z-index: 2;
    display: flex;
  }

  .sort-and-limit-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    .limit-buttons {
      grid-template-columns: repeat(3, 1fr);
    }

    button {
      border: 0;
      border-radius: 3px;
      padding: 3px 5px;
      background: var(--filter-button-background);
      color: var(--color-text-primary);
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      transition: transform 0.1s ease, border 0.15s ease, filter 0.15s ease;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.255));

      &:hover {
        transform: translateY(1px);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
      }

      &.selected {
        border: var(--button-border);
      }
    }

    .limit-all-button {
      grid-column: 1/4;
    }
  }

  @media screen and (max-width: 885px) {
    position: fixed;
    left: unset;
    right: 20px;
    top: 50px;
    display: none;
  }
}
