.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  /* height: 100vh; */
}

.aside {
  position: fixed;
  top: 85px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

@media only screen and (max-width: 900px) {
  .container {
    align-items: flex-end;
    padding: 0 30px;
  }
}