.container {
  /* min-height: 100vh; */
  min-height: 100%;
  padding: 0 0.5rem;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  justify-content: flex-start;
  gap: 20px;
  /* height: 100vh; */
  z-index: 1;
}

.aside-parent .open-dropdown-button {
  width: 100%;
  background: var(--card-background);
  box-shadow: var(--card-shadow);
  color: var(--color-text-primary);
  border: 0;
  padding: 10px 15px;
  z-index: 3;
  border-radius: 3px;
  display: none;
  text-align: start;
  cursor: pointer;
}

.aside {
  position: sticky;
  align-self: flex-start;
  top: 80px;
  left: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: var(--card-shadow);
  border-radius: 5px;;
  overflow: hidden;
}

.aside .exit-dropdown-button {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  /* bottom: 0; */
  color: crimson;
  font-weight: 600;;
  z-index: 3;
  display: none;
}

@media screen and (max-width: 885px) {
  .container {
    padding: 0 20px;
    flex-direction: column;
  }

  .aside-parent {
    padding-top: 85px;
  }

  .aside-parent .open-dropdown-button,
  .aside-parent .exit-dropdown-button {
    display: block;
  }


  .aside {
    width: calc(100% - 40px);
    /* border-radius: 0 0 5px 5px; */
  }
}