.single-pokemon-page {
  padding-top: 70px;

  main {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 30px;

    .intro-card {
      display: flex;
      justify-content: space-between;

      .intro-card-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .intro-card-text h1 {
        line-height: 100%;
        font-size: 2.5rem;
      }

      .intro-card-text .species {
        font-size: 0.9rem;
      }

      .sprite {
        height: 100%;
        width: 100px;
        filter: saturate(1.1) contrast(1.2);
      }
    }

    .description {
      line-height: 1.3rem;
    }


    .pokemon-types {
      display: flex;
      gap: 10px;
      .pokemon-type {
        padding: 3px 5px;
        border-radius: 3px;
        margin: 0;
        font-size: 0.9rem;

        &.normal { background: #A8A77A; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.fire { background: #EE8130; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.water { background: #6390F0; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.electric { background: #F7D02C; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.grass { background: #7AC74C; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.ice { background: #96D9D6; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.fighting { background: #C22E28; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.poison { background: #A33EA1; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.ground { background: #E2BF65; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.flying { background: #A98FF3; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.psychic { background: #F95587; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.bug { background: #A6B91A; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.rock { background: #B6A136; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.ghost { background: #735797; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.dragon { background: #6F35FC; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.dark { background: #705746; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.steel { background: #B7B7CE; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
        &.fairy { background: #D685AD; color: #fff; text-shadow: 1px 1px 1px #1818183c; }
      }
    }

    .main-image {
      aspect-ratio: 1;
      width: 100%;
      height: auto;
      object-fit: contain;

    }

    .main-image,
    .intro-card,
    .stats {
      border-radius: 5px;
      box-shadow: var(--card-shadow);
      padding: 20px;
      background: var(--card-background);
    }

    .height-and-weight {
      display: flex;
      justify-content: space-around;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }

      .item .item-value {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .item .item-name {
        // margin-top: 10px;
        font-size: 0.9rem;
      }
    }

    .stats {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {       
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
      }

      .stat-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        .stat-item {
          display: flex;
          gap: 10px;
        }
      }

    }
  }

  @media screen and (max-width: 885px) {
    .main {
      gap: 20px;
      padding-bottom: 100px;

      .main-image,
      .intro-card,
      .stats {
        padding: 15px;
      }

    }
  }
}